<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

  <display-name>Welcome to Tomcat</display-name>
  <description>
     Welcome to Tomcat
  </description>

	<servlet>
		<servlet-name>app01</servlet-name>	
		<servlet-class>controllers.UserSignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app01</servlet-name>
		<url-pattern>/Users_folder/user_signup.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>app02</servlet-name>	
		<servlet-class>controllers.UserLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app02</servlet-name>
		<url-pattern>/Users_folder/user_login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app03</servlet-name>	
		<servlet-class>controllers.UserLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app03</servlet-name>
		<url-pattern>/Users_folder/user_logout.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>app04</servlet-name>	
		<servlet-class>controllers.HotelSignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app04</servlet-name>
		<url-pattern>/Hotels_folder/signup.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app05</servlet-name>	
		<servlet-class>controllers.HotelLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app05</servlet-name>
		<url-pattern>/Hotels_folder/hotel_login.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app06</servlet-name>	
		<servlet-class>controllers.SendMailServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app06</servlet-name>
		<url-pattern>/Hotels_folder/sendMail.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app07</servlet-name>	
		<servlet-class>controllers.AddRoomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app07</servlet-name>
		<url-pattern>/Hotels_folder/add_room.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app08</servlet-name>	
		<servlet-class>controllers.VerifyOtpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app08</servlet-name>
		<url-pattern>/Hotels_folder/verifyotp.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app09</servlet-name>	
		<servlet-class>controllers.HotelLogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app09</servlet-name>
		<url-pattern>/Hotels_folder/hotel_logout.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app10</servlet-name>	
		<servlet-class>controllers.CollectRoomsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app10</servlet-name>
		<url-pattern>/Hotels_folder/collect_rooms.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app11</servlet-name>	
		<servlet-class>controllers.ShowHotelRoomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app11</servlet-name>
		<url-pattern>/Hotels_folder/show_room.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app12</servlet-name>	
		<servlet-class>controllers.RoomDescriptionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app12</servlet-name>
		<url-pattern>/Hotels_folder/room_desc.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app13</servlet-name>	
		<servlet-class>controllers.GetRoomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app13</servlet-name>
		<url-pattern>/Users_folder/get_room.do</url-pattern>
	</servlet-mapping>

	<!-- <servlet>
		<servlet-name>app14</servlet-name>	
		<servlet-class>controllers.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app14</servlet-name>
		<url-pattern>/Users_folder/search.do</url-pattern>
	</servlet-mapping> -->

	<servlet>
		<servlet-name>app15</servlet-name>	
		<servlet-class>controllers.SearchPickupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app15</servlet-name>
		<url-pattern>/Users_folder/search_pickup.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app16</servlet-name>	
		<servlet-class>controllers.SaveImageToDatabaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app16</servlet-name>
		<url-pattern>/Hotels_folder/save_.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app17</servlet-name>	
		<servlet-class>controllers.RetrieveImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app17</servlet-name>
		<url-pattern>/Users_folder/retrieve_img.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>app18</servlet-name>	
		<servlet-class>controllers.DeleteRoomServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>app18</servlet-name>
		<url-pattern>/Hotels_folder/delete_room.do</url-pattern>
	</servlet-mapping>



	
  
	<listener>
		<listener-class>listeners.AppListener</listener-class>
	</listener>

</web-app>
